@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:wght@400;500;700&family=Roboto:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
  --font-Raleway: Raleway, sans-serif;
  --font-Ubuntu: Ubuntu, sans-serif;
  --font-Roboto: Roboto, sans-serif;
  --color-brand: #0f0f2d;
}

body {
  font-family: "Raleway", sans-serif;
}
